{{! This partial will list a post excerpt using the 'excerpt' theme helper in Ghost }}
<article class="{{post_class}}">

  <header class="article__header">

    <h4 class="article__heading-text h4">
      <a class="article__link-text" href="{{url}}" rel="bookmark" title="{{title}}">{{title}}</a>
    </h4>

    <span class="article__date">
      <time class="updated"
            datetime="{{date published_at format='YYYY-MM-DD'}}"
            pubdate="">
        {{date published_at format='DD.MM.YYYY'}}
      </time>
    </span>
    <span class="tags--article">
      {{#if tags}}
        {{#foreach tags}}
          <a href="/tag/{{slug}}" class="tag__link">
            <i class="fa fa-tag">
              <span class="tag__text">{{name}}</span>
            </i>
          </a>
        {{/foreach}}
      {{/if}}
    </span>

  </header> <!-- end article header -->

  <section>
    <div>
      {{#if image}}
        <img class="article__image" src="{{image}}" alt="post image"/>
      {{/if}}
      <p>{{excerpt words="26"}}... <a class="read-more" href="{{url}}">read more&raquo;</a></p>
    </div>
  </section> <!-- end article section -->

</article> <!-- end list article  -->