{{!< default}}

<div class="post-container">
  <h2 class="why-cans__header">Why Cans?</h2>

  <section class="why-cans__about">
    <div>
      <img class="lap-and-up-one-half" src="{{asset "images/pages/why-cans/WHYCANSILLUSTS_1.png"}} alt="the humble tinny"><!--
      --><img class="lap-and-up-one-half" src="{{asset "images/pages/why-cans/WHYCANSILLUSTS_2-1.png"}} alt="cans limit light and oxygen exposure">
    </div>
    <div>
      <img class="lap-and-up-one-half" src="{{asset "images/pages/why-cans/WHYCANSILLUSTS_3.png"}} alt="cans are allowed where glass is not"><!--
    --><img class="lap-and-up-one-half" src="{{asset "images/pages/why-cans/WHYCANSILLUSTS_4.png"}} alt="cans chill faster">
    </div>
    <div>
      <img class="lap-and-up-one-half" src="{{asset "images/pages/why-cans/WHYCANSILLUSTS_5.png"}} alt="cans are more portable and durable"><!--
    --><img class="lap-and-up-one-half" src="{{asset "images/pages/why-cans/WHYCANSILLUSTS_6.png"}} alt="cans are cheaper to produce">
    </div>
  </section>

  <section class="why-cans__fans">
    {{#post}}
      {{content}}
    {{/post}}
  </section>
</div>